<% if owner_signed_in? %>
  <li>
  <%= link_to('Edit registration', edit_owner_registration_path) %>
  </li>
<% else %>
  <li>
  <%= link_to('Register', new_owner_registration_path)  %>
  </li>
<% end %>
