

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Fun Factor 50 Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center contactpad">
                <img class="img-circle img-responsive img-center" src='/assets/fede.jpg' alt="">
                <h3>Fede Gomez
                    <small>Full-Stack Developer</small>
                </h3>
                <a href="https://github.com/mosclov" target="_blank"><img src="/assets/githublogo.png"></a>
                <a href="https://www.linkedin.com/in/fedegz" target="_blank"><img src="/assets/linkedin.png"></a>
            </div>
            <div class="col-lg-4 col-sm-6 text-center contactpad">
                <img class="img-circle img-responsive img-center" src="/assets/tyler.jpg" alt="">
                <h3>Tyler Feickert
                    <small>Full-Stack Developer</small>
                </h3>
                <a href="https://github.com/eggplantzzz" target="_blank"><img src="/assets/githublogo.png"></a>
                <a href="https://www.linkedin.com/in/tyler-feickert-4b9b0b11b" target="_blank"><img src="/assets/linkedin.png"></a>
            </div>
            <div class="col-lg-4 col-sm-6 text-center contactpad">
                <img class="img-circle img-responsive img-center" src="/assets/spencer.jpg" alt="">
                <h3>Spencer West
                    <small>Full-Stack Developer</small>
                </h3>
              <a href="https://github.com/recnepsbackwards" target="_blank"><img src="/assets/githublogo.png"></a>
              <a href="https://www.linkedin.com/in/spencerawest" target="_blank"><img src="/assets/linkedin.png"></a>
            </div>
            <div class="col-lg-4 col-sm-6 text-center contactpad">
                <img class="img-circle img-responsive img-center" src='/assets/jordan.jpg' alt="">
                <h3>Jordan Menke
                    <small>Full-Stack Developer</small>
                </h3>
                <a href="https://github.com/Jmenke514" target="_blank"><img src="/assets/githublogo.png"></a>
                <a href="https://www.linkedin.com/in/jordan-menke-458b11120" target="_blank"><img src="/assets/linkedin.png"></a>
            </div>
            <div class="col-lg-4 col-sm-6 text-center contactpad">
                <img class="img-circle img-responsive img-center" src="/assets/michael.jpg" alt="">
                <h3>Michael Martinez
                    <small>Full-Stack Developer</small>
                </h3>
                <a href="https://github.com/AZUREXANDER" target="_blank"><img src="/assets/githublogo.png"></a>
                <a href="https://www.linkedin.com/in/michael-martinez-08070692" target="_blank"><img src="/assets/linkedin.png"></a>
            </a></p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center contactpad">
                <img class="img-circle img-responsive img-center" src="/assets/doug.jpg" alt="">
                <h3>Douglas Chun
                    <small>Full-Stack Developer</small>
                </h3>
                <a href="https://github.com/toffguns" target="_blank"><img src="/assets/githublogo.png"></a>
                <a href="https://www.linkedin.com/in/douglas-chun-49184582
                " target="_blank"><img src="/assets/linkedin.png"></a>
            </div>
        </div>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
