<div class="container-fluid ">
  <div class="jumbotron">
    <img src="assets/foodtrucklogo.png" id="logo1" >
    <h1 id="title"><center>San Diego's #1 Food Truck Map</center></h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-2" id="select-container">
    <select id="search-select" class="form-control grey-text">
      <option class="form-control" value="search_by_address" name="search_by_address"/>Search by address</option>
      <option class="form-control" value="search_trucks" name="search_trucks"/>Search trucks</option>
    </select>
  </div><!-- /.col-lg-4 -->

  <div class="col-lg-4">
    <div class="input-group">
      <input type="text" class="form-control" name="search-field" id="search_field" placeholder="Search for..."/>
      <span class="input-group-btn">
        <button class="btn btn-danger" id="search_button" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-3">
    <div class="row" id="largebutton">
      <a href="/trucks"><button type="button" class="btn btn-danger" id="largebutton">Food Trucks Out Now</button></a>
    </div>
  </div>
</div><!-- /.row -->



<!-- <div class="field">
  <input type="text" placeholder="Enter search text here" name="search" id="search_field"/>
  <button id="search_button">Search</button>
</div> -->

<!-- <div class="field">
  <input type="text" placeholder="Enter search text here" name="address_search" id="address_search_field"/>
  <button id="recenter_map_button">Go</button>
</div> -->



<div>
  <h1 id="map-title"><center> Live Map of Food Trucks in San Diego</center></h1>

  <div id="map-container">
    <div id="map">Your map will appear here...</div>
  </div>
</div>
