<h1>Food Trucker</h1>

<h2>About Food Trucker</h2>
<p>Food trucks are making waves in San Diego, one of SoCal’s largest and most picturesque cities. Around 50 trucks have made this surf town their hometown, providing the tastiest street food for everyone from UCSD students to San Diego Zoo keepers! Sports fans can Charge up with Nana’s Heavenly Dogs while the organically inclined can munch at MIHO’s Gastrotruck. And don't miss the weekly food truck Tuesdays at Smitty's on Adams Avenue! This city might be known for its Mexican food, hailed as the best north of the border, but the rising number of inspired trucks is expanding its horizons. Put away your surfboard and click on the live map above to find your next meal. And as always, stay classy, San Diego!</p>

<div id="map">
  <p>Your map will appear here</p>
</div>
<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({
    provider: {},
    internal: {id: 'map'}
  },
  function() {
    markers = handler.addMarkers(<%=raw @pindrop.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(12);
  }
);
</script>

<p><a href="/trucks">List of Food Trucks</a></p>
