@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;



#logo1 {
  display: flex;
  margin-left: auto;
  margin-right: auto
}
#title {
  color: white;
  text-align: center;
  padding-top: 20px;
  text-shadow: black 0em 0.1em 0.1em;
}
/* Footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  // border-top: 1px solid $gray-medium-light;
  color: #777;
  a {
    color: #555;
  }
  small {
    float: left;
    margin-left: 10px
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
      margin-right: 10px;
    }
  }
}

#largebutton {
  padding-top: 15px;
  max-width: 80%;
  margin: auto;
}

a {
  text-decoration: none;
}

.centered-div {
  display: flex;
  justify-content: center;
  align-items: center
}


#map-title {
  padding: 10px;
  color: white;
}
