@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

/* Footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #333;
    }
  }
  small {
    float: left;
    margin-left: 10px
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
      margin-right: 10px;
    }
  }
}
