#login-page {
  width: 400px;
  padding: 3% 0 0;
  margin: auto;
}

#login-page2 {
  width: 400px;
  padding: 16% 0 0;
  margin: auto;
}

.form1 {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  /*max-width: 360px;*/
  margin: 0 auto 100px;
  padding: 65px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#form1 {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  /*max-width: 360px;*/
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form1 input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form1 button {
  outline: 0;
  background: #0044cc;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form1 button:hover,.form button:active,.form button:focus {
  background: #5187F2;
}
.form1 .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form1 .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form1 .register-form {
  display: none;
}
/*.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}*/
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body.devise\/sessions {
  background: #F16F5C; /* fallback for old browsers */
  background-image: -ms-linear-gradient(left, #f85032 0%, #F16F5C 50%, #e73827 100%);
  background-image: -moz-linear-gradient(left, #f85032 0%, #F16F5C 50%, #e73827 100%);
  background-image: -o-linear-gradient(left, #f85032 0%, #F16F5C 50%, #e73827 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f85032), color-stop(50, #F16F5C), color-stop(100, #e73827));
  background-image: -webkit-linear-gradient(left, #f85032 0%, #F16F5C 50%, #e73827 100%);
  background-image: linear-gradient(to right, #f85032 0%, #F16F5C 50%, #e73827 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="submit"] {
  outline: 0;
  background: #e73827;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

input[type="submit"]:hover,input[type="submit"]:active,input[type="submit"]:focus {
  background: #5187F2;
}
