<footer class='footer'>
  <!-- <div class='container'> -->
  <small>
    App made by <a href="https://www.learnacademy.org">FunFactor50</a>
  </small>
    <ul>
      <li>Contact Us</li>
    </ul>
<!-- </div> -->
</footer>
